.FriendCard {
  background: none;
  display: flex;
  flex-direction: column;
  border: 1px solid #ada7f0;
  margin-bottom: 40px;
  margin-right: 20px;
  border-radius: 4px;
  width: 240px;
  padding: 20px;
}

.FriendCard__likes {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
