.FriendCard {
  background: none;
  display: flex;
  flex-direction: column;
  border: 5px solid #ada7f0;
  margin-bottom: 40px;
  margin-right: 20px;
  border-radius: 4px;
  width: 240px;
  padding: 20px;
}

.FriendCard__likes {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.delete {
  background-color: #ffffff;
  color: #555;
  border: 1px solid #e38ca5;
}

.delete:hover {
  background-color: #e38ca5;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.edit {
  background-color: #ffffff;
  color: #555;
  border: 1px solid #d7ffab;
}

.edit:hover {
  background-color: #c4ff85;
  color: #ffffff;
  border: 1px solid #ffffff;
}
