.Header {
  margin-bottom: 40px;
}

.Header h1 {
  text-align: center;
  padding: 30px -20px;
  margin: 10px 0px;
  font-size: 35px;
}

.Header a {
  color: #444;
  text-decoration: none;
  padding: 0 5px;
  transition: 0.3s;
}

.Header a:hover {
  color: #ada7f0;
}

.Header__not-logged-in {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.Header__logged-in {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.Header a.selected {
  text-decoration: underline;
  color: #ada7f0;
}

@media screen and (min-width: 450px) {
  .Header {
    height: 30px;
    display: flex;
    align-items: normal;
    justify-content: space-between;
  }

  .Header h1 {
    margin: 0;
  }

  .Header__not-logged-in {
    justify-content: flex-end;
  }

  .Header__logged-in {
    justify-content: flex-end;
  }
}
